

*, ::before, ::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	scroll-padding-top: 80px;
	scroll-behavior: smooth;
}
img {
	vertical-align: center;
	max-width: 100%;
	height: auto;
}
body {
	background-color: #FCF5E9;
	color: #2D313C;
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1.6rem;
	line-height: 1.7;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
.container {
	margin: 0 auto;
	max-width: 880px;
	padding-top: 80px;
}

header {
	display: flex;
	justify-content: center;
	padding: 14px 30px;
	align-items: center;
	background-color: rgb(242,140,140,0.9);
	box-shadow: 0px 1px 6px rgb(0,0,0,0.5);
	position: fixed;
	top: 0px;
	width: 100%;
	height: 80px;
	z-index: 1;
}

header h1 {
	margin-top: 5px;
}

header .logo {
	margin-right: 20px;
}
header .contact-btn {
	margin-left: 20px;
}


.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav a {
	padding: 10px 20px;
	color: #ffffff;
	border-bottom: 2px solid rgb(0, 0, 0, 0);
	display: block;
	text-align: center;
	line-height: 1.4;
}
.nav a:hover {
	text-decoration: none;
	border-bottom-color: #ffffff;
	transition: 0.8s;
}
.nav a span {
	white-space: nowrap;
}

.contact-btn {
	background: url("../img/contact_btn2.png") no-repeat;
	width: auto;
	height: 50px;
	border-style: none;
	margin-bottom: -5px;
	background-position: center;
}
.contact-btn a {
	display: block;

}
.contact-btn a:hover img {
	visibility: hidden;
}

.mv {
	position: relative;
	margin-top: 100px; 
	margin-bottom: -40px;
}

.mv-bg {
	display: flex;
	justify-content:center;
	align-items: center;
	left:calc(50% - 290px);
}
.mv-bg img {
	width: 880px;
	height: 560px;
}
.mv-catch {
	position: absolute;
	display: flex;
	justify-content:center;
	align-items: center;
	left:calc(50% - 300px);
	transform: translateY(-330px);
	
}
.mv-text {
	flex-direction: row;
	top: 0;
	left: 0;
	width: 500px;
	height: auto;
	
}
.mv-text .mv-catch1 {
	width: 600px;

}
.mv-text .mv-catch2 {
	width: 600px;
}

.sp {
	display: none;
}

section {
	margin-bottom: 50px;
	margin-top: -50px;
	padding-bottom: 40px;
}


section .tytle-h2 {
	display: flex;
	height: 80px;
	background-color: #F28C8C;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color:#ffffff;
}
.policy .tytle-h2 h2 img {
	margin-top: -10px;
	height: 60px;
}

h2 {
	height: 30px;
	padding-right: 20px;

}

.tytle-h3 {
	display: flex;
	height: 40px;
	background-color: #6E9FD4;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	color:#ffffff;
}

h3 {
	height: 29px;
}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 10px 0 20px;
	padding: 20px;
}
.box-area {
	display: flex;
	flex-direction: column;
	width: 48%;
	line-height: 1.7;
	color: #2D313C;
	margin-top: 10px;
}


.box {
	width: 100%;
}

.box h4 {
	margin-top: 10px 0;
	padding: 10px 0;
	color: #2D313C;
	border-bottom: 1px solid #2D313C;
	line-height: 1.4;
	
}

.lesson-info .box-area {
	margin-top: 20px;
	margin-bottom: 20px;
}
.lesson-info img {
	margin-top: 20px;
}
.lesson-info-box {
	border: 1px solid #2D313C;
	border-radius: 10px;
	padding: 30px;
	margin: 0 20px 30px;
}
.lesson-info-box dt, .lesson-info-box dd {
	display: flex;
}
.lesson-info-box dt {
	cursor: pointer;
}


.lesson-info-box h4 {
	margin: 0;
}

.lesson-info-box dt {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
}
.lesson-info-box dd {
	padding-left: 50px;
}

.teacher img {
	margin-top: 40px;
}
.recruit img {
	margin-top: 40px;
}

.course-fees .box-area .box h3 {
	margin: 10px 0;
	padding-bottom: 30px;
	color: #2D313C;
	border-bottom: 1px solid #2D313C;
	line-height: 1.6;
	
}

section h2 {
	font-size: 20px;
	margin-bottom: 5px;
	position: relative;

}

.box ul {
	list-style-type: circle;
	padding-left: 40px;
}
.admission-fee {
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #2D313C;
	border-radius: 10px;
	padding: 30px;
	margin: 0 20px 30px;
}

.gotop {
	position: fixed;
	bottom: 30px;
	right: 30px;
	opacity: 0.7;
	display: none;
}
.gotop:hover {
	opacity: 1;
}


footer {
	padding: 30px 0;
	background-color: #F28C8C;
}
footer .nav {
	margin-bottom: 50px;
	padding: 0 20px;
	justify-content: center;
}
.copyright {
	font-size: 14px;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
.rules {
	text-align: center;
	
}
.apply-box {
	border: 3px solid #F28C8C;
	padding: 1rem;
	background-color: #ffffff;
	text-align: left;
	width: 80rem;
}
.apply-box-p {
	border: 1px solid #3E4966;
	padding: 0.5rem;
}
.apply-box-area .wrap {
	display: flex;
	justify-content:center;
}

.apply-box .contact-btn img {
	display: flex;
	justify-content: center;
}

.contact-btn  {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.trial-lesson-info {
	
	text-align: center;
	/*width: 88rem;*/
}
.enrolment-info {

	text-align: center;
	/*width: 88rem;*/
}
.course-fees p {
	margin: 2rem 2rem 0rem;
	/*width: 84rem;*/
	border: 3px solid #6E9FD4;
	background-color: #ffffff;
	padding: 1rem;
	text-align: center;
	font-weight: 200;
}
.course-fees p span {
	padding: 0 2rem;

}
.course-fees img {
	width: 39rem;
}
.course-fees .box {
	margin: 2rem 1rem 0;
	width: 39rem;
}

.voices .box-area h3 {
	margin: 5px 0;
	padding-bottom: 5px;
	color: #2D313C;
	border-bottom: 1px solid #2D313C;
	line-height: 1.1;
	
}

.voices .box-area .box {
	margin-top: 10px;
}

.album-img {
	margin-top: 20px;
}

.album-wrap {
	display:flex;
	align-items: center;
	border: 1px solid #2D313C;
	border-radius: 10px;
	padding: 30px;
	margin: 0 20px 30px;
}
.album-wrap img {
	width: 200px;
	height: auto;
	padding: 0 10px;
}
.record h3 {
	color: #ffffff;
	background-color: #6E9FD4;
	height: 40px;
	padding-top: 4px;
	margin-bottom: 20px;
	text-align: center;
}
.record .box h4 {
	margin-bottom: 20px;
	padding: 10px 0;
	color: #2D313C;
	border-bottom: 1px solid #2D313C;
	line-height: 1.4;
	
}
.course-fees span {
	white-space: nowrap;
	font-size: 16px;
}





@media (max-width:1440px){
header {
	padding: 14px 10px;
	}

header .logo {
	display: none;
	}
header h1 {
	display: none;
	}
header .contact-btn {
	display: none;
}
span {
	font-size: 0.85em;
}

}






@media (max-width:940px){
html {
	font-size: 60%;
	scroll-padding-top: 66px;
	scroll-behavior: smooth;
}
body {
	font-size: 1.7rem;
	line-height: 1.5;
}
header {
	height: 70px;
	padding: 14px 50px;
	justify-content: space-between;
}
	
header h1 {
	display:inline;
	}
	
header h1 img {
	height: 35px;
	width: auto;
}


.mv-bg img {
	width: 660px;
	height: auto;
}
	
.sp {
	display: inline;
}

.pc {
	display: none;
}
	
.mv {
	position: relative;
	margin-bottom: -40px;
}

.mv-catch {
	position: absolute;
	display: flex;
	justify-content:center;
	align-items: center;
	left:calc(50% - 200px);
	transform: translateY(-140px)
}
.mv-text {
	flex-direction: row;
	top: 0;
	left: 0;
}

.nav-btn {
	width: 70px;
	height: 50px;
	position: relative;
	right: -30px;
	z-index: 1;
}
.nav-btn span {
	width: 30px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 20px;
	transition: 0.3s;
}
.nav-btn span:nth-child(1) {
	top: 12px;
}
.nav-btn span:nth-child(2) {
	top: 24px;
}
.nav-btn span:nth-child(3) {
	top: 36px;
}
.nav-open .nav-btn span:nth-child(1) {
	top: 24px;
	transform: rotate(315deg);
}
.nav-open .nav-btn span:nth-child(2) {
	width: 0;
	left: 50%;
}

.nav-open .nav-btn span:nth-child(3) {
	top: 24px;
	transform: rotate(-315deg);
}



 nav {
	position: fixed;
	left: 100%;
	width: 100%;
	height: 100%;
	background-color: #F28C8C;
	padding-top: 100px;
	transition: 0.5s;
	top: 0px;
}
.nav-open nav {
	left: 0px;
}

nav .nav {
	display: block;
	height: 100%;
	padding-bottom: 50px;
	overflow: auto;
}
nav .nav a {
	padding: 30px 0;
	font-size: 30px;

}
nav a {
	padding: 10px 20px;
	color: #fff;
	border-bottom: 2px solid rgb(0, 0, 0, 0);
		display: block;
	text-align: center;
	line-height: 1.4;
}
nav a:hover {
	text-decoration: none;
	border-bottom-color: #fff;
	transition: 0.8s;
} 



header .contact-btn {
	display: none;
}

footer .nav {
	display: block;
	margin-bottom: 30px;
}
footer .nav a {
	padding-top: 15px;
	padding-bottom: 15px;
}
footer .nav li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.box-area {
	width: 100%;
	padding: 0 10px;
	align-items: center;
}
.record h3 {
	width: 100%;
}
.policy .tytle-h2 h2 {
	font-size: 1.6rem;
	}

.map .box {
	text-align: center;
} 
}